

.header{
    display:flex;
    justify-content: space-between;
    border:1px solid black
}
.logo{
    width: 100px;        /* Set the desired width */
    height: 100px;       /* Set the desired height */
    object-fit: contain; /* Ensure the image fits within the given dimensions */
    border-radius: 8px;  /* Optional: Add rounded corners */
    margin: 10px;      
}
.nav-items> ul{
    font-size:16px;
    display:flex;
    padding: 20px 20px;
    list-style-type:none;
}
.nav-items> ul>li{
    padding:10px;
    margin:10px

}
.res-container{
    margin:5px;
    display:flex;
    flex-wraop:wrap;
}
.res-card{
    padding:5px;
    width:250px;
}
.res-card:hover{
    cursor:pointer;
    border:1px solid black;
}

.search{
    padding:10px
}
.res-logo{
    width: 150px;      /* Set the desired width */
    height: 150px;     /* Set the desired height */
    object-fit: cover; /* Ensure the image covers the area without distorting */
    border-radius: 8px; /* Optional: Add rounded corners */
}
